<% title "Clientes" %>

<%= form_tag clientes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Procurar", :name => nil %>
  </p>
<% end %>

<ul>
  <% for cliente in @clientes %>
    <li>
      <div class="lista">
        <%= cliente.nome %>
      </div>
      <%= link_to image_tag("profile.png"), cliente %>
      <%= link_to image_tag("trash.png"), cliente, :confirm => 'Tem certeza?', :method => :delete %> 
      <%= link_to image_tag("visa.png"), cliente_pagamentos_path(cliente) %>
    </li>
    <br />
  <% end %>
</ul>

<p><%= link_to "Novo Cliente", new_cliente_path %></p>
