<% title "Pagamentos"%>
<table>
  <tr>
    <th></th>
    <th></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 7.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 6.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 5.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 4.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 3.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 2.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now - 1.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l Time.now, :format => :only_month %></th>
  </tr>  
  <% for cliente in @clientes %>
    <tr>
      <td><%= cliente.nome + ' ' %></td>
      <td><%= link_to image_tag("paid.png"), cliente_pagamentos_path(cliente)%></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 7.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 6.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 5.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 4.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 3.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 2.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now - 1.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, Time.now), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "Ver Clientes", clientes_path %> |
  <%= link_to "Pagamentos por Dia", '/search' %> </p>
