<% title "Listagem"%>
<% data = @data.to_datetime %>
<table>
  <tr>
    <th ALIGN="right"><%= link_to "<<", list_path(:data => (data - 6.month)) %> <%=  link_to ">>", list_path(:data => (data + 6.month)) %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l data - 5.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l data - 4.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l data - 3.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l data - 2.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l data - 1.month, :format => :only_month %></th>
    <th ALIGN="right">&nbsp;&nbsp;&nbsp;<%= l data, :format => :only_month %></th>
  </tr>  
  <% for cliente in @clientes %>
    <tr>
      <td><%= cliente.nome + ' ' %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, data - 5.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, data - 4.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, data - 3.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, data - 2.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, data - 1.month), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td ALIGN="right"><%= number_to_currency Pagamento.total(current_user.id, cliente.id, data), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
    </tr>
  <% end %>
</table>
<p><%= will_paginate @clientes, :previous_label => "Anterior", :next_label => "Pr&oacute;ximo" %></p>
<p><%= link_to "Voltar", clientes_path %></p>
