<% title "Pagamentos" %>

<p>
  <strong>
  <%= @cliente.nome %>
  </strong>
</p>
<ul>
  <% @cliente.pagamentos.each do |pagamento| %>
    <li>
      <div class="lista">
        <%= l pagamento.data %>
        <%= number_to_currency pagamento.valor %>
      <%= link_to image_tag("edit.png"), edit_cliente_pagamento_path(@cliente, pagamento) %>
      <%= link_to image_tag("delete.png"), [@cliente, pagamento], :confirm => 'Tem certeza?', :method => :delete %>
      </div>
    </li>
    <br />
  <% end %>
</ul>

<%= link_to 'Novo Pagamento', new_cliente_pagamento_path(@cliente) %> |
<%= link_to 'Ver Cliente', cliente_path(@cliente) %> |
<%= link_to 'Ver Todos Clientes', clientes_path %>
