<% title "Pagamentos" %>

<p>
  <strong>
    <%= @cliente.nome %>
  </strong>
</p>
<table>
  <% @cliente.pagamentos.each do |pagamento| %>
    <tr>
      <td><%= l pagamento.data %></td>
      <td ALIGN="right"><%= number_to_currency pagamento.valor, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
      <td>
        <%= link_to image_tag("edit.png"), edit_cliente_pagamento_path(@cliente, pagamento) %>
        <%= link_to image_tag("delete.png"), [@cliente, pagamento], :confirm => 'Tem certeza?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'Novo Pagamento', new_cliente_pagamento_path(@cliente) %> |
<%= link_to 'Ver Clientes', clientes_path %>
