<html>
  <head>
    <%= stylesheet_link_tag "receipt" %>
    <title>Recibo</title>
    <script type="text/javascript">
      function printpage()
      {
        window.print()
      }
    </script>
  </head>
  <body>
    <script type="text/javascript" >
      window.onload=printpage;
    </script> 
    <br />    
    <br />
    <br />
    <br />
    Recibo
    <br />
    <br />
    Recebemos de <%= @pagamento.cliente.nome %> <br />
    O valor de <%= number_to_currency @pagamento.valor, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$ " %> <br />
    referente ao m&ecirc;s de <%= @pagamento.data.month %>/<%= @pagamento.data.year %> <br/>
    em <%= l @pagamento.created_at, :format => :short %> <br />
    <br />
    <br />
    <br />
    Assinatura <br />
    <br />
    <br />
    <br />    
  </body>
</html>
