<% title "Pagamentos por Dia" %>

<%= form_tag '/search', :method => 'get' do %>
  <p>
    <%= text_field_tag :datepicker, params[:datepicker] %>
    <%= submit_tag "Procurar", :name => nil %>
  </p>
<% end %>

<table>
  <% @pagamentos.each do |pagamento| %>
    <tr>
      <td><%= pagamento.cliente.nome %>&nbsp;</td>
      <td><%= l pagamento.data %>&nbsp;&nbsp;&nbsp;</td>
      <td ALIGN="right"><%= number_to_currency pagamento.valor, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "" %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to "Voltar", list_path %>
