<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.15.custom.css" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery.maskedinput-1.3.min.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.15.custom.min' %>
    <%= javascript_include_tag 'jquery.ui.datepicker-pt-BR' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% if logged_in? %>
        Bem-vindo <%= current_user.username %>! N&atilde;o &eacute; voc&ecirc;?
        <%= link_to "Sair", logout_path %>
      <% else %>
        <%= link_to "Cadastrar-se", signup_path %> ou
        <%= link_to "Entrar", login_path %>
      <% end %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
